.flower {
  height: 100vh;
  @include media("<=425px") {
    overflow-x: hidden;
  }
  &__text01 {
    @include flex-center(row);
    width: 80vw;
    height: 40vh;
    // background-color: rgb(121, 68, 219);

    h1 {
      opacity: 0;
      color: rgba(256, 256, 256, 1);
      text-align: center;
      font-weight: 800;
      font-size: 6rem;
      text-transform: uppercase;
      z-index: 88;
      text-shadow: 5px 3px 10px rgba(52, 52, 53, 0.5);
    }
  }
  &__container {
    @include media("<=425px") {
      img:nth-child(1) {
        transform: scale(0);
        opacity: 1;
      }
      img:nth-child(2) {
        transform: translateX(0px) scale(1);
        opacity: 0;
      }
    }
    img:nth-child(1) {
      transform: scale(0);
      opacity: 1;
    }
    img:nth-child(2) {
      transform: translateX(500px) scale(0);
      opacity: 0;
    }
    img:nth-child(3) {
      transform: translateX(500px) scale(0);
      opacity: 0;
      filter: blur(6px);
    }
  }
}
