@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes revealNextWord {
  0% {
    opacity: 0.3;
    height: 0;
  }
  10% {
    opacity: 1;
    height: 1.2em;
  }
  20% {
    opacity: 1;
    height: 1.2em;
  }
  28% {
    opacity: 0;
    height: 2em;
  }
  100% {
    opacity: 0;
  }
}

// menu animation
@keyframes showMenu {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  80% {
    transform: scaleY(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
