// gradient

$black: #000000 !default;
$white: #ffffff !default;

// Colors ************************************

// red
$red: #d53f41;

$medBlue: #4979ff;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// plale color
$pale-yellow: #f5f0ec;
$pale-purple: #dbd8d6;
$pale-brown: #f5f0ec;
$pale-blue: #eef3f7;
$colors: (
  home: #d16e8d,
  about: #ffac83,
  contact: #3f78c9,
  courses: #49c4a3,
);

// linear-gradient
$greenGradient: linear-gradient(to right, $limeGreen, $brightCyan);
$lightDarkblue: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
$ligtPurple: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
$greenPink: linear-gradient(135deg, #a8edea 20%, #fed6e3 80%);
$pastel: linear-gradient(
  45deg,
  #845ec2,
  #d65db1,
  #ff6f91,
  #ff9671,
  #ffc75f,
  #f9f871
);
// transition
$opacityTransition: all 500ms ease-in-out;

//  blue & white

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem rgba(83, 131, 235, 0.6),
  inset -0.2rem -0.2rem 0.5rem rgba(211, 222, 247, 0.6);
