.hero-container {
  .hero-text-section {
    max-width: 15em;
    width: calc(100%-32px);
    margin: 0 auto;
    height: 100vh;
    padding-bottom: 150px;
    padding-top: 100px;
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1501497849301-66eb0889c6a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjUyfHxibGFjayUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    @include media("<=425px") {
      font-size: 2.5rem;
    }

    h1 {
      display: inline-block;
      position: absolute;
      width: 100%;
      top: 50%;
      right: 0;
      z-index: 3;
      color: white;
      font-size: 4vw;
    }
    h2 {
      // display: inline-block;
      // position: absolute;
      width: 100%;
      top: 40%;
      right: 0;
      z-index: 3;
      color: #37474f;
      font-size: 80%;
    }
    .hero-p-text {
      display: inline-block;
      padding: 20px;
      margin: 30px 20px;
      max-width: 20em;
      font-size: 25%;
      font-weight: 300;
      color: rgb(100, 89, 59);
      border: 1px solid rgb(179, 176, 176);
      @include media("<=425px") {
        font-size: 1rem;
        width: 300px;
        margin: 10px -40px;
      }
      // @include media("<=tablet") {
      //   font-size: 55%;
      // }
    }
  }
  .hero-collage {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10vh;
    @include media("<=425px") {
      grid-template-columns: 1fr 1fr;
    }
    .left-column {
      grid-area: 1 / 1 / span 1 / span 1;
      .hero-element {
        grid-area: 1 / 1 / span 6 / span 3;
        &:first-child {
          grid-area: 1/ 1 / span 3 / span 1;
        }
        &:last-child {
          grid-area: 2 / 2 / span 5 / span 3;
        }
      }
      @include media("<=425px") {
        .hero-element {
          grid-area: 1 / 3 / span 2 / span 2;
          &:first-child {
            grid-area: 2/ 3 / span 3 / span 2;
          }
          &:last-child {
            grid-area: 3/ 4 / span 1 / span 2;
          }
        }
      }
    }
    .right-column {
      grid-area: 1 / 1 / span 3 / span 3;
      .hero-element {
        grid-area: 1 / 1 / span 3 / span 3;
        &:first-child {
          grid-area: 2 / 1 / span 3 / span 3;
        }
        &:last-child {
          grid-area: 1 / 3 / span 4 / span 3;
        }
      }
      @include media("<=425px") {
        .hero-element {
          grid-area: 1 / 4 / span 1 / span 4;
          &:first-child {
            grid-area: 2 / 4 / span 1 / span 2;
          }
          &:last-child {
            grid-area: 3/ 4 / span 1 / span 3;
          }
        }
      }
    }
    .left-column,
    .right-column {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 1fr);
      column-gap: 10px;
      height: 60%;
      @include media("<=425px") {
        grid-template-rows: repeat(3, 1fr);
        height: 300px;
      }
    }
    .hero-element {
      overflow: hidden;

      margin: 0 auto;
      // box-shadow: -2px -1px 14px 3px rgba(224, 224, 224, 0.6),
      //   7px 7px 12px 2px rgba(224, 224, 224, 0.6);

      video,
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
  .hero-media {
    position: relative;
    height: 764px;
  }
  .hero-phone-block {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: $white;
    // left: 50%;
    // transform: translateX(-40%) scale((1.5));
    z-index: -55;
    h1 {
      font-size: 10rem;
      position: absolute;
      bottom: -10%;
      background-image: radial-gradient(
        to bottom,
        #dbdcd7 0%,
        #dddcd7 24%,
        #e2c9cc 30%,
        #e7627d 46%,
        #b8235a 59%,
        #801357 71%,
        #3d1635 84%,
        #1c1a27 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .hero-phone-template {
      background-size: cover;
      background-position: right 50% bottom 40%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: relative;

      h1 {
        font-weight: 500;
        position: absolute;
        bottom: 0;
      }
      @include media("<=425px") {
        background-size: 170%;
        background-position: right 50% bottom 55%;
      }

      // video {
      //   position: absolute;
      //   width: 70%;
      //   height: 30%;
      //   top: 33%;
      //   // left: 50%;
      //   right: 15%;
      //   border-radius: 20px;
      //   overflow: hidden;
      // }
    }
  }
  .hero-usedBy {
    display: flex;
    justify-content: space-between;
    margin-top: 234px;
    padding-top: 234px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1304px;
    width: calc(100%-48px);
    position: relative;
    color: white;

    .hero-usedBy-copy {
      margin-bottom: 0;
      padding-left: 52px;
      width: 390px;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}
