.hero {
  width: 100vw;
  height: 100vh;
  @include flex-center(row);

  &__container {
    width: 70%;
    height: 50%;
    background-color: $white;
    border-radius: 30px;
    margin: 0 auto;
    opacity: 0.6;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);

    h1 {
      z-index: 6;
      font-family: "Nanum Brush Script", cursive;
      @include flex-center(row);
      color: black;
      font-size: 15rem;
      mix-blend-mode: normal;
      text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
      transition: opacity 0.25s ease-in-out;
    }
  }
}
