.home {
  cursor: pointer;
  height: 100vh;
  position: relative;
  .hover-left {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20vw;
    z-index: 1;
    &:hover ~ .container-right {
      clip-path: inset(0 0% 0% 80%);
    }
  }
  .hover-right {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20vw;
    z-index: 1;
    &:hover ~ .container-right {
      clip-path: inset(0 0% 0% 20%);
    }
  }
}

.container-right,
.container-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: $ligtPurple;
  background-size: 100%;
  animation: animate 10s linear infinite alternate;
}

.container-right {
  overflow: hidden;
  clip-path: inset(0 0% 0% 50%);
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
  &:hover {
    clip-path: inset(0 0% 0% 10%);
  }
}

.image-player {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

.resp-iframe {
  box-sizing: border-box;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
  transform: translate(20%, -50%) scale(1.1);
  position: absolute;
  top: 50%;

  width: 177.7777vh;
  pointer-events: none;
}

.center-text {
  position: absolute;
  top: 50%;
  z-index: 6;
  color: rgb(252, 252, 252);
  transform: translate(50%, -70%);
  font-size: 15rem;
  mix-blend-mode: normal;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
  opacity: 1;
  font-family: "Nanum Brush Script", cursive;
  transition: opacity 0.25s ease-in-out;
}

.navigation {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.1rem;
  color: $white;
  z-index: 6;
  cursor: pointer;

  @include media("<=425px") {
    font-size: 0.8rem;
  }

  @include media("<=tablet") {
    font-size: 0.8rem;
  }

  &.left {
    // text-align: left;
    left: 1.25rem;

    &:hover {
      .container-left {
        clip-path: inset(0 0% 0% 100%);
      }
    }
  }
  &.right {
    text-align: right;
    right: 1.25rem;
    &:hover ~ .container-right {
      clip-path: inset(0 0% 0% 0%);
    }
  }
  li {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(100, 104, 134);
    background-color: rgba(245, 246, 247, 0.7);
    width: 6rem;
    border-radius: 3rem;
    margin: 0.5rem;
    text-shadow: 5px 3px 10px rgba(52, 52, 53, 0.5);
    box-shadow: -5px -5px 20px $white, 5px 5px 20px #babecc;
    &:hover {
      box-shadow: -2px -2px 5px $white, 2px 2px 5px #babecc;
    }
    @include media("<=425px") {
      width: 4rem;
      height: 2rem;
    }
    @include media("<=tablet") {
      width: 4rem;
      height: 2rem;
    }
  }
}
.video-container {
  .over-color::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    // background: rgba(15, 15, 15, 0.625);
    background: linear-gradient(
      to left,
      rgb(168, 145, 236, 0.6) 20%,
      rgba(243, 120, 229, 0.6) 80%
    );
  }
  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    object-position: right top;
    position: absolute;
  }
  background-color: red($color: #000000);
}
