nav {
  @include flex-center(row);
  max-width: 50rem;
  margin: 0.5rem auto;
  position: relative;
  z-index: 99999;

  .burger {
    height: 4rem;
    img {
      width: 4rem;
    }
    @include media(">425px") {
      display: none;
    }
  }
  .menu-mobile {
    position: absolute;
    top: 4.5rem;
    z-index: 9999;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.5rem;
    transition: all 500ms ease-out;
    a {
      color: $white;
    }

    .logo {
      // 옆정렬
      // margin-right: auto;
      position: relative;
      @include media("<425px") {
        display: none;
      }
    }
  }
  .active {
    background-color: black;
    clip-path: circle(250px at 50% -20%);
    -webkit-clip-path: circle(250px at 50% -20%);
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;

    @include media("<=425px") {
      display: none;
    }

    .logo {
      // 옆정렬
      margin-right: 1rem;
      position: relative;

      img {
        width: 100px;
        cursor: pointer;
      }
    }
    // 옆정렬
    h1 {
      font-weight: 800;
      position: absolute;
      top: 70px;
      right: 50%;
      cursor: pointer;
    }
  }
  a {
    margin: 12px;
    margin-right: 40px;
    text-transform: uppercase;
    color: $darkBlue;
    font-weight: 400;
  }
}
