.one-nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Syncopate", sans-serif;
  color: #464646;
  font-weight: 600;
}
.one-container {
  border-top: 5px solid $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #dce6f1;
  background-image: url("https://cdn.pixabay.com/photo/2020/09/30/19/35/waves-5616845_1280.png");
  background-repeat: no-repeat;
  // background-size: 1000px;
  background-position: 50% -80%;
  h1 {
    font-size: 15vw;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    display: flex;

    max-width: 80%;
    letter-spacing: 0.05em;
    visibility: hidden;
    overflow: hidden;
    color: rgb(132, 167, 167);
    span {
      display: block;
      position: relative;
    }
    span::before {
      content: attr(data-char);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-110%);
      background-image: linear-gradient(#e0c3fc 0%, #3d5a77 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h2 {
    color: #464646;
    max-width: 90%;
    // margin-left: 20rem;
  }
}

.one-nav-container {
  position: relative;
  .one-menu {
    position: absolute;
    right: 5%;
    top: 20px;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #464646;
    li {
      margin: 10px 0;
    }
  }
}
#one-textS {
  font-size: 35vw;

  font-family: "Ubuntu", sans-serif;
}
#one-text {
  font-size: 18vw;
  font-weight: 600;
  word-spacing: -50px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.featured-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  img {
    clip-path: inset(0% 0% 0% 0%);
  }
  h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .featured-row-layout,
  .featured-column-layout {
    display: grid;
    gap: 10px;
  }
}
