.main-container {
  padding: 0 6.597vw;
  z-index: -9;
}

.image-container {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-left: -6.597vw;
  height: 100vh;
  width: 100%;
  align-items: center;
  z-index: -1;
  top: 0;
  perspective: 1000px;
}

.port-image {
  transform-style: preserve-3d;
  position: absolute;
  height: auto;
  width: 500px;
  transition: transform 0.1s ease-in-out;
  z-index: 98;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.04),
    0 16px 32px rgba(0, 0, 0, 0.04), 0.32px 64px rgba(0, 0, 0, 0.04);
  &.active {
    z-index: 99;
    box-shadow: 3px 10px 20px rgba(75, 73, 73, 0.6);
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
      translateX(35px) translateY(0px) translateZ(180px);
    filter: greyscale();
  }
  @include media("<=425px") {
    width: 60vw;
    margin-top: 5rem;
  }
}

// Title

.title-container {
  position: relative;
  display: block;
  padding-top: 20vh;
  padding-bottom: 20vh;
  transform-style: preserve-3d;
  transform: rotateY(2deg) rotateX(2deg) rotateZ(0deg);
  box-shadow: -4px 40px 80px -10px rgba(0, 0, 0, 0.4);
  @include media("<=425px") {
    padding-top: 3vh;
    padding-bottom: 40vh;
  }
  .h1 {
    display: block;
    font-size: 6vw;
    line-height: 1.75;

    color: #bababa;
    opacity: 0.5;
    transition: color 0.1s ease-in-out;
    transition: transform 0.4s ease-in-out;
  }
  & :hover {
    .h1 {
      color: rgb(171, 65, 237);
      font-weight: 500;
      text-shadow: 5px 5px 8px rgba(250, 249, 250, 0.7);
      opacity: 1;
      transform: translateX(50px);
    }
  }
  .title-item {
    cursor: pointer;
    &:hover {
      color: #2d2d2d;
    }
  }
}

.port-description {
  width: 40vw;
  height: 100%;
  padding-right: 2rem;
  visibility: hidden;
  position: absolute;
  transform: translateX(500px);
  transition: transform 0.5s ease-in-out;

  &.active {
    width: 30vw;
    visibility: visible;
    height: 100%;
    z-index: 999;
    position: absolute;
    right: 0;
    transform: translate(0px, 0px);
    background-color: rgb(220, 151, 223);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.04),
      3px 4px 8px rgba(0, 0, 0, 0.04), 4px 8px 16px rgba(0, 0, 0, 0.04),
      5px 3px 16px 32px rgba(0, 0, 0, 0.04), 6px 0.32px 24px rgba(0, 0, 0, 0.4);
    color: rgb(250, 249, 249);

    @include flex-center(column);

    @include media("<=425px") {
      width: 50vw;
      transform: translateX(0px);
    }

    h1 {
      font-weight: 700;
      margin: 0 auto;
      width: 100%;
      padding: 1rem;
      font-size: 1.3rem;
      text-align: left;
      color: purple;
    }
    h2 {
      margin: 0 auto;
      padding: 0.7rem;
      width: 100%;
      padding-right: 1rem;
      font-size: 1rem;
      text-align: left;
      color: $white;
    }
  }
}
