// google font
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Grechen+Fuemen&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
// Slick Slider
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

// Font Variables
$body-font: "Roboto", sans-serif;
$Kor-font: "Singleday", cursive;
$casual-font: "Caveat", cursive;

// Font Size
$font-xsm: 0.875; // 14px
$font-sm: 1.125; // 18px
$font-med: 1.25rem;
$font-lg: 2.125rem;
$font-xlg: 3.25rem;

// 공간

$full-w: 100vw;
$full-h: 100vh;
